<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap">
          <security mode="Transport" />
        </binding>
        <binding name="WebService1Soap1" />
        <binding name="WebService1Soap2">
          <security mode="Transport" />
        </binding>
        <binding name="WebService1Soap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44301/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
      <endpoint address="https://localhost:44301/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap2"
        contract="MyServiceReference2.WebService1Soap" name="WebService1Soap1" />
    </client>
  </system.serviceModel>
</configuration>