<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" batch="true" />
    <!--batch="false" 要不要預先編譯 (進入網站時較慢，但之後開分頁會較快。預設是 false )-->
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <clear />
        <add namespace="System" />
        <!--<add namespace="System.Collections.Specialized"/>   測測少了它會發生什麼回事 ... 沒有事-->
        <add namespace="System.ComponentModel.DataAnnotations" />
        <add namespace="System.Configuration" />
        <add namespace="System.Linq" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.DynamicData" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
        <add namespace="System.Xml.Linq" />
      </namespaces>
    </pages>
  </system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
        </httpErrors>
    </system.webServer>

</configuration>
