<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <!--我在實作PDF的286頁，但是沒有效果，那一章根本是針對會變成.exe的專案的吧。網頁只會有dll產生...-->
  <startup>
    <supportedRuntime version="v4.0.30319"/>
  </startup>

  <!--準備被修改的資料︰-->
  <connectionStrings>
    <add name="A_ConnectionString" connectionString="20210428100157"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="A_key" value="2021/4/28 上午 10:01:42" />
  </appSettings>
</configuration>