<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString1" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />

    <caching>

      <sqlCacheDependency
        enabled="true"
        pollTime="1000" >
        <databases>
          <add
          connectionStringName="NorthwindConnectionString1"
          name="NorthwindCacheDependencyName"
          pollTime="1000"/>
        </databases>
      </sqlCacheDependency>
      <!-- pollTime 的單位是豪秒-->

      <outputCacheSettings>
        <outputCacheProfiles>
          <add
            name="myprofile"
            duration="10"
            varyByParam="None"/>
        </outputCacheProfiles>
      </outputCacheSettings >

    </caching>

    <!--不可行，留為紀念-->
    <!--<httpModules>
      <add name="CopyrightModule" type="CopyrightModule"/>
    </httpModules>-->

  </system.web>
 
  <system.webServer>
    <!--不可行，留為紀念-->
    <!--<modules>
      <add name="CopyrightModule" type="CopyrightModule" />
    </modules>-->
  </system.webServer>

</configuration>