<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <connectionStrings>
    <add name="B2B_DB" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.7.41)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=b2b)));user id=b2b;password=b2b;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="B2B_DB" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.1.80)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=b2b)));user id=b2b;password=b2b;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="TYN_ShopFloorDB" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.145.69)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TYSFCS)));user id=sei;password=sei;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="NTPC_ShopFloorDB" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.7.68)(PORT=1521))(CONNECT_DATA=(SID=oracle)));user id=sei;password=sei;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <codeSubDirectories>
        <add directoryName="VS850"/>
      </codeSubDirectories>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxQueryStringLength="50" maxUrlLength="100"/>
    <!--https://dotblogs.com.tw/jimmyyu/2010/03/25/asp-net-40-max-query-string-length-->
    <!--設 QueryString KEY+VALUE 長度 和 網址總長 -->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="MainPage.aspx"/>
      </files>
    </defaultDocument>
    <!--如果應用層級也撈不到錯誤(例如上面httpRuntime的參數限定, .Net 程式發生的錯誤 )，就在這個組態上去撈-->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401"/>
      <error statusCode="401" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="ErrorPage.aspx" responseMode="ExecuteURL"/>
      <!--https://shunnien.github.io/2017/06/01/webconfig-httpErros-and-customErrors/-->
      <!--https://docs.microsoft.com/en-us/iis/configuration/system.webserver/httperrors/-->
    </httpErrors>
    <security>
      <requestFiltering>
        <!--<fileExtensions>
          <add fileExtension=".txt" allowed="false" />
        </fileExtensions>-->
        <hiddenSegments>
          <add segment="log"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>