<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

    <!--這個是在︰webStatus_computerUser_Show 去用的-->
    <!--<authentication mode="Windows" />-->
    <!--<identity impersonate="true" />-->
    <!--end-->

    <!--這個是在︰Form_Authentication 去用的-->
    <!--<authentication mode="Forms">
         <forms loginUrl="Form_Authentication.aspx" />
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>

    <identity impersonate="false"/>-->
    <!--end-->

    <!--這個是在︰ASP_Tool_HomePage和AddUser去用的-->
    <authentication mode="Forms">
      <forms defaultUrl="~/ASP_Tool_HomePage.aspx" loginUrl="~/ASP_Tool_loginPage.aspx" />
    </authentication>

    <!--取消註冊用戶時要問的安全性問題和電郵 (表面上成功，整體不能運作)-->
    <!--<membership defaultProvider="MyMembership">
      <providers>
        <add
          name="MyMembership"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="LocalSqlServer"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          minRequiredPasswordLength="5" 
          minRequiredNonalphanumericCharacters="0"
          />
      </providers>
    </membership>-->   
    <!--end-->

    <!--ASP_Tool_CreateUser-->
    <!--<profile>
      <properties>
        <add name="userName" />
      </properties>
    </profile>-->
    <!--end-->
    
  </system.web>

  <!--這個是在︰ASP_Tool_AddUser去寄確認電郵用的 (沒成功) -->
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis"/>
    </mailSettings>
  </system.net>-->
  <!--end   但是我好像用不了公司的smtp????-->
  
  
  <!--這個是在︰ASP_Tool_HomePage.aspx , ASP_Tool_CreateUser.aspx 去用的-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
  <!--end-->


  <!--ASP_Tool_CreateUser-->
  <!--<connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\2\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--end-->
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
