<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--我自己加的 (這個configuration中的元素先後有差喔！)-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\myDATAbase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LaLaLaDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MyDataBaseConnectionString" connectionString="Data Source=.;Initial Catalog=MyDataBase;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MyDataBase2ConnectionString1" connectionString="Data Source=.;Initial Catalog=MyDataBase2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="data_baseConnectionString" connectionString="Data Source=.;Initial Catalog=data_base;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NorthwindConnectionString" connectionString="Data Source=811916-NB;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringSBK" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--加到這裡-->
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!--11.6-->
    <!--<httpRuntime  加入 ︰  maxUrlLength="50" maxQueryStringLength="5" />-->
    <!--11.6-->
    <!--在 EX_11 Page_attri 起-->
    <!--<customErrors mode="On"> </customErrors>-->
    <!--在 EX_11 Page_attri 末-->
    <!--在 EX_11.4 errorlog_webConfig 起-->
    <!--<customErrors mode="On" defaultRedirect="~/EX_11/Err.html">
    </customErrors>-->
    <!--在 EX_11.4 errorlog_webConfig 末-->
    <!--在 EX_11.5 errorlog_webConfig 起-->
    <!--https://blog.darkthread.net/blog/customerrors-and-httperrors/-->
    <!--依書的 mode= "RemoteOnIy" 本機會跳不到自設的404頁 !!! 改 = On -->
    <!--<customErrors mode ="On" defaultRedirect="~/EX_11/UnknowError.html">
      <error statusCode="404" redirect="~/EX_11/four_0_four.html" />
      <error statusCode="403" redirect="NoAccess.html" />
    </customErrors>-->
    <!--在 EX_11.5 errorlog_webConfig 末-->
    <trace enabled="true" pageOutput="false" mostRecent="true" localOnly="true" requestLimit="10" traceMode="SortByCategory"/>
    <!--我自己加的-->
    <!--https://dotblogs.com.tw/johnny/2010/01/20/13135-->
    <siteMap defaultProvider="default">
      <providers>
        <clear/>
        <add name="default" type="System.Web.XmlSiteMapProvider" siteMapFile="~/EX6/SiteMap/Web.sitemap" securityTrimmingEnabled="true"/>
        <add name="default2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/EX6/SiteMap/Web1.sitemap"/>
      </providers>
    </siteMap>
    <!--加到這裡-->
  </system.web>
  <!--   用於 /EX_11/QureyLinkTooLong.aspx 起-->
  <!-- 關於 要求篩選模組設定為拒絕查詢字串過長的要求。HTTP Error 404.15 - Not Found  問題 -->
  <!--https://forums.asp.net/t/2024846.aspx?HTTP+Error+404+15+query+url+too+long-->
  <!--<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="5" maxUrl="50" />
      </requestFiltering>
    </security>
  </system.webServer>-->
  <!--但是在 system.webServer 中改了的限製，沒有被 system.web 按 Code 去跳頁的設定處理。-->
  <!--   用於 /EX_11/QureyLinkTooLong.aspx 末-->
</configuration>