<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>

    <!--拒絕匿名存取者，練習membership_ajax.aspx(現改名為login.aspx了，這個模式強制的。)-->
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms" />
    <!--後發現，封了這個模式，login.aspx還是能跑，不過為了紀念這個特點，網頁名就不改了。-->

    <!--啟動角色管理，練習role.aspx用-->
    <roleManager enabled="true" />

    <!--練習Profile(profile_ex1.aspx)用-->
    <profile enabled="true">
      <properties>
        <add name="UserName" />
        <add name="Birthday" type="System.DateTime" />
        <add name="Married" type="System.Boolean" />
        <add name="ThemeName" type="System.String" />
      </properties>
    </profile>

  </system.web>


  <!--啟用authenticationService機制，練習membership_ajax.aspx-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled ="true" requireSSL="false"/>
      </webServices>
    </scripting>
  </system.web.extensions>


</configuration>
